@import './colors.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  height: 100%;
  //overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#tsparticles{
  position: fixed;
  background: transparent;
}

